<!--<footer>-->
    <!--<div id="footer-logo">-->
    <div class="panel-footer" style="text-align:right">
        <!--<div class="footer-logo">-->© P4M development team, 2015
    </div>
<!--
</footer>-->
