<head>
<% if (process.env.NODE_ENV == 'development') { %>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<% } else { %>
<script src="https://p4m.herokuapp.com/socket.io/socket.io.js"></script>
<% } %>
<script>
    io = io.connect();
    var emitEvent = function(event){
        io.emit(event);
    }
</script>
    <% include header %>
</head>
<div class="panel panel-default">
<body>
<% include navbar %>
<div id="wrapper">
<% include tournaments %>
</div>
<% include footer %>
</body>
</div>