<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="" alt="<%= title %>"></a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <% if (!user) { %>
                        <li><h2 id="login">Welcome! Please log in.<a href="/auth/steam"><img src="/images/steam_auth.png" /></a></h2></li>
                <% } else { %>
                    <li><a href="/account"><div><img src=<%= user.photos && user.photos.length? user.photos[0].value: "" %>><%= user.displayName %></div></a></li>
                    <li><a id="logout" href="/logout">Logout</a></li>
                    <% if (user.isAdmin) { %>
                        <li><a id="adminPage" href="/adminpage"><img src="/images/adminButton_24.png" /></a></li>
                    <% }%>
                <% }%>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    </div>
</nav>